
<!-- Single Featured Post, skal loope 2 gange -->
<!-- DE SMÅ FEATURED ARTIKLER SAMMEN MED FRONTPAGE -->
<% if(typeof featurednews != 'undefined') { %>
    <% featurednews.forEach(newspost => { %>
<div class="single-blog-post featured-post-2">
    <div class="post-thumb">
        <a href="/single-post/<%= newspost.newsID%>"><img src="/img/bg-img/<%= newspost.newsImage%>" alt=""></a>
    </div>
    <div class="post-data">
        <a href="/categories-post/<%= newspost.newsCategoryID%>" class="post-catagory"> <%= newspost.newsCategoryTitle %> </a>
        <div class="post-meta">
            <a href="/single-post/<%= newspost.newsID%>" class="post-title">
                <h6> <%= newspost.newsText %> </h6>
            </a>
            <!-- Post Like & Post Comment -->
            <div class="d-flex align-newsposts-center">
                <a href="#" class="post-like"><img src="/img/core-img/like.png" alt="">
                    <span>392</span></a>
                <a href="#" class="post-comment"><img src="/img/core-img/chat.png" alt="">
                    <span>10</span></a>
            </div>
        </div>
    </div>
</div>

<% })  %>
<% } %> 
