

<% if(typeof latestposts != 'undefined') { %>
    <% latestposts.forEach(newspost => { %>

    <!-- Single Featured Post -->
    <div class="single-blog-post small-featured-post d-flex">
        <div class="post-thumb">
            <a href="/single-post/<%= newspost.newsID %>"><img src="/img/bg-img/<%= newspost.newsImage %>" alt=""></a>
        </div>
        <div class="post-data">
            <a href="/categories-post/<%= newspost.newsCategoryID %>" class="post-catagory"> <%- newspost.newsCategoryTitle %> </a>
            <div class="post-meta">
                <a href="/single-post/<%= newspost.newsID %>" class="post-title">
                    <h6> <%- newspost.newsTitle %> </h6>
                </a>
                <p class="post-date"><span> <%= dateAndTime.format(newspost.newsPostDate, 'ddd MMM DD YYYY') %> </span></p>
            </div>
        </div>
    </div>

<% })  %>
<% } %> 






